In [43]:
import requests
import lxml.html as lh
import pandas as pd

In [44]:
url ='https://www.fundamentus.com.br/resultado.php'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [45]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    #print '%d:"%s"'%(i,name)
    col.append((name,[]))

In [46]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 20, the //tr data is not from our table 
    if len(T)!=20:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [47]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [48]:
df.head()

,Papel,Cotação,P/L,P/VP,PSR,Div.Yield,P/Ativo,P/Cap.Giro,P/EBIT,P/Ativ Circ.Liq,EV/EBITDA,Mrg Ebit,Mrg. Líq.,Liq. Corr.,ROIC,ROE,Liq.2meses,Patrim. Líq,Dív.Brut/ Patrim.,Cresc. Rec.5a
0,CFLU4,"1.000,00","0,00","0,00","0,000","0,00%","0,000","0,00","0,00","0,00","0,00","8,88%","10,72%","1,10","17,68%","32,15%","0,00","60.351.000,00","0,06","8,14%"
1,CLAN3,"0,00","0,00","0,00","0,000","0,00%","0,000","0,00","0,00","0,00","0,00","0,00%","0,00%","0,00","0,00%","-1,05%","0,00","1.012.240.000,00","0,00","-63,96%"
2,CLSC6,"0,00","0,00","0,00","0,000","0,00%","0,000","0,00","0,00","0,00","0,00","0,00%","0,00%","0,00","0,00%","9,92%","0,00","2.025.410.000,00","0,00","3,63%"
3,CSTB3,"150,00","0,00","0,00","0,000","0,00%","0,000","0,00","0,00","0,00","0,00","40,85%","28,98%","2,60","22,40%","20,11%","0,00","8.420.670.000,00","0,14","31,91%"
4,CSTB4,"147,69","0,00","0,00","0,000","0,00%","0,000","0,00","0,00","0,00","0,00","40,85%","28,98%","2,60","22,40%","20,11%","0,00","8.420.670.000,00","0,14","31,91%"

In [49]:
df['Papel'].count()

878

In [54]:
mglu = df[df.Papel == "MGLU3"]
mglu.head()

,Papel,Cotação,P/L,P/VP,PSR,Div.Yield,P/Ativo,P/Cap.Giro,P/EBIT,P/Ativ Circ.Liq,EV/EBITDA,Mrg Ebit,Mrg. Líq.,Liq. Corr.,ROIC,ROE,Liq.2meses,Patrim. Líq,Dív.Brut/ Patrim.,Cresc. Rec.5a
836,MGLU3,"45,85","78,96","23,33","4,113","0,40%","5,621","150,65","87,10","-20,09","59,62","4,72%","5,21%","1,08","9,51%","29,54%","592.977.000,00","3.193.620.000,00","0,36","19,86%"