In [57]:
import pandas as pd
path = 'C:/Users/vinicius_coin/Desktop/DADOS_MESTRADO/bovesparser-master/data/'
base_consolidada = 'PREBASE/'

In [58]:
# Carrega os registros do ITR_DRE do último exercício dos três primeiros trimestres
# DRE - Demonstração de Resultado
# CD_CONTA 3.05 - Resultado Antes do Resultado Financeiro e dos Tributos ou Resultado Operacional  (LAJIR/EBIT)                           

import pandas as pd
df_dre_ebit = pd.read_csv(path+base_consolidada+"DRE_consolidado.csv", sep = ';',encoding="ISO-8859-1")
df_dre_ebit = df_dre_ebit[df_dre_ebit["ORDEM_EXERC"] == "ÚLTIMO"]
contas = ['Resultado Operacional','Resultado Antes do Resultado Financeiro e dos Tributos']
df_dre_ebit = df_dre_ebit[df_dre_ebit['DS_CONTA'].isin(contas)]
df_dre_ebit.rename(columns={"VL_CONTA": "VLR_EBIT"}, inplace=True)
df_dre_ebit['VLR_EBIT'] = df_dre_ebit.loc[df_dre_ebit['ESCALA_MOEDA'].isin(['MIL','MILHAR']), ['VLR_EBIT']] * 1000
df_dre_ebit.head()

,CNPJ_CIA,DT_REFER,DENOM_CIA,ESCALA_MOEDA,ORDEM_EXERC,DT_INI_EXERC,DT_FIM_EXERC,CD_CONTA,DS_CONTA,VLR_EBIT
23,00.000.000/0001-91,2016-12-31,BCO BRASIL S.A.,MILHAR,ÚLTIMO,2016-01-01,2016-12-31,3.05,Resultado Operacional,9.948650e+09
69,00.000.208/0001-00,2016-12-31,BRB BCO DE BRASILIA S.A.,MILHAR,ÚLTIMO,2016-01-01,2016-12-31,3.05,Resultado Operacional,2.489780e+08
113,00.001.180/0001-26,2016-12-31,CENTRAIS ELET BRAS S.A. - ELETROBRAS,MILHAR,ÚLTIMO,2016-01-01,2016-12-31,3.05,Resultado Antes do Resultado Financeiro e dos ...,4.307927e+09
159,00.070.698/0001-11,2016-12-31,CIA ENERGETICA DE BRASILIA,MILHAR,ÚLTIMO,2016-01-01,2016-12-31,3.05,Resultado Antes do Resultado Financeiro e dos ...,8.066700e+07
205,00.115.890/0001-87,2016-12-31,SHOPPING CENTER TACARUNA SA,MILHAR,ÚLTIMO,2016-01-01,2016-12-31,3.05,Resultado Antes do Resultado Financeiro e dos ...,2.030000e+06

In [59]:
# Carrega os registros do ITR_DRE do último exercício dos três primeiros trimestres
# DRE - Demonstração de Resultado
# CD_CONTA 3.13 - Lucro/Prejuízo do Período       (lucro liquido)
                          

import pandas as pd
df_dre_lucro = pd.read_csv(path+base_consolidada+"DRE_consolidado.csv", sep = ';',encoding="ISO-8859-1")
df_dre_lucro = df_dre_lucro[df_dre_lucro["ORDEM_EXERC"] == "ÚLTIMO"]
contas = ['Lucro/Prejuízo do Período']
df_dre_lucro = df_dre_lucro[df_dre_lucro['DS_CONTA'].isin(contas)]
df_dre_lucro.rename(columns={"VL_CONTA": "VLR_LUCRO_LIQUIDO"}, inplace=True)
df_dre_lucro['VLR_LUCRO_LIQUIDO'] = df_dre_lucro.loc[df_dre_lucro['ESCALA_MOEDA'].isin(['MIL','MILHAR']), ['VLR_LUCRO_LIQUIDO']] * 1000


print(df_dre_lucro.shape[0])
#df_dre_lucro.head(20)

12223

In [60]:
df_dre = pd.merge(df_dre_ebit, df_dre_lucro, how = 'left', left_on=['CNPJ_CIA','DT_REFER'], right_on=['CNPJ_CIA','DT_REFER'])
df_dre.head()

,CNPJ_CIA,DT_REFER,DENOM_CIA_x,ESCALA_MOEDA_x,ORDEM_EXERC_x,DT_INI_EXERC_x,DT_FIM_EXERC_x,CD_CONTA_x,DS_CONTA_x,VLR_EBIT,DENOM_CIA_y,ESCALA_MOEDA_y,ORDEM_EXERC_y,DT_INI_EXERC_y,DT_FIM_EXERC_y,CD_CONTA_y,DS_CONTA_y,VLR_LUCRO_LIQUIDO
0,00.000.000/0001-91,2016-12-31,BCO BRASIL S.A.,MILHAR,ÚLTIMO,2016-01-01,2016-12-31,3.05,Resultado Operacional,9.948650e+09,BCO BRASIL S.A.,MILHAR,ÚLTIMO,2016-01-01,2016-12-31,3.13,Lucro/Prejuízo do Período,7.930114e+09
1,00.000.208/0001-00,2016-12-31,BRB BCO DE BRASILIA S.A.,MILHAR,ÚLTIMO,2016-01-01,2016-12-31,3.05,Resultado Operacional,2.489780e+08,BRB BCO DE BRASILIA S.A.,MILHAR,ÚLTIMO,2016-01-01,2016-12-31,3.13,Lucro/Prejuízo do Período,2.005330e+08
2,00.001.180/0001-26,2016-12-31,CENTRAIS ELET BRAS S.A. - ELETROBRAS,MILHAR,ÚLTIMO,2016-01-01,2016-12-31,3.05,Resultado Antes do Resultado Financeiro e dos ...,4.307927e+09,CENTRAIS ELET BRAS S.A. - ELETROBRAS,MILHAR,ÚLTIMO,2016-01-01,2016-12-31,3.11,Lucro/Prejuízo do Período,3.425899e+09
3,00.070.698/0001-11,2016-12-31,CIA ENERGETICA DE BRASILIA,MILHAR,ÚLTIMO,2016-01-01,2016-12-31,3.05,Resultado Antes do Resultado Financeiro e dos ...,8.066700e+07,CIA ENERGETICA DE BRASILIA,MILHAR,ÚLTIMO,2016-01-01,2016-12-31,3.11,Lucro/Prejuízo do Período,1.146070e+08
4,00.115.890/0001-87,2016-12-31,SHOPPING CENTER TACARUNA SA,MILHAR,ÚLTIMO,2016-01-01,2016-12-31,3.05,Resultado Antes do Resultado Financeiro e dos ...,2.030000e+06,SHOPPING CENTER TACARUNA SA,MILHAR,ÚLTIMO,2016-01-01,2016-12-31,3.11,Lucro/Prejuízo do Período,-5.860000e+05

In [61]:
# Carrega os registros do ITR_BPP do último exercício dos três primeiros trimestres
# BPP - Balanço Patrimonial Passivo
# CD_CONTA 2.05 - Patrimônio Líquido
                         
df_bpp = pd.read_csv(path+base_consolidada+"BPP_consolidado.csv", sep = ';',encoding="ISO-8859-1")
df_bpp = df_bpp[df_bpp["ORDEM_EXERC"] == "ÚLTIMO"]
contas = ['Patrimônio Líquido']
df_bpp = df_bpp[df_bpp['DS_CONTA'].isin(contas)]
df_bpp.rename(columns={"VL_CONTA": "VLR_PATRIMONIO_LIQUIDO"}, inplace=True)
df_bpp['VLR_PATRIMONIO_LIQUIDO'] = df_bpp.loc[df_bpp['ESCALA_MOEDA'].isin(['MIL','MILHAR']), ['VLR_PATRIMONIO_LIQUIDO']] * 1000

In [62]:
a = df_bpp[(df_bpp["DENOM_CIA"] == 'BCO BRASIL S.A.') & (pd.to_datetime(df_bpp["DT_REFER"]) >= pd.to_datetime('2018-01-01'))]
a.head(10)

,CNPJ_CIA,DT_REFER,DENOM_CIA,ESCALA_MOEDA,ORDEM_EXERC,CD_CONTA,DS_CONTA,VLR_PATRIMONIO_LIQUIDO
239857,00.000.000/0001-91,2018-12-31,BCO BRASIL S.A.,MILHAR,ÚLTIMO,2.05,Patrimônio Líquido,9.198955e+10
360312,00.000.000/0001-91,2019-12-31,BCO BRASIL S.A.,MILHAR,ÚLTIMO,2.05,Patrimônio Líquido,9.889600e+10
864053,00.000.000/0001-91,2018-03-31,BCO BRASIL S.A.,MIL,ÚLTIMO,2.05,Patrimônio Líquido,8.977263e+10
864135,00.000.000/0001-91,2018-06-30,BCO BRASIL S.A.,MIL,ÚLTIMO,2.05,Patrimônio Líquido,9.156764e+10
864217,00.000.000/0001-91,2018-09-30,BCO BRASIL S.A.,MIL,ÚLTIMO,2.05,Patrimônio Líquido,9.275922e+10
1222962,00.000.000/0001-91,2019-03-31,BCO BRASIL S.A.,MIL,ÚLTIMO,2.05,Patrimônio Líquido,9.452197e+10
1223044,00.000.000/0001-91,2019-06-30,BCO BRASIL S.A.,MIL,ÚLTIMO,2.05,Patrimônio Líquido,9.168595e+10
1223126,00.000.000/0001-91,2019-09-30,BCO BRASIL S.A.,MIL,ÚLTIMO,2.05,Patrimônio Líquido,9.449621e+10

In [63]:
# Carrega os registros do ITR_DVA do último exercício dos três primeiros trimestres
# DVA -  Demonstração de Valor Adicionado
# CD_CONTA 7.04.01 - Depreciação, Amortização e Exaustão
                         

import pandas as pd
df_dva = pd.read_csv(path+base_consolidada+"DVA_consolidado.csv", sep = ';',encoding="ISO-8859-1")
df_dva = df_dva[df_dva["ORDEM_EXERC"] == "ÚLTIMO"]
contas = ['Depreciação, Amortização e Exaustão']
df_dva = df_dva[df_dva['DS_CONTA'].isin(contas)]
df_dva.rename(columns={"VL_CONTA": "VLR_DEPRECIACAO_AMORTIZACAO"}, inplace=True)
df_dva['VLR_DEPRECIACAO_AMORTIZACAO'] = df_dva.loc[df_dva['ESCALA_MOEDA'].isin(['MIL','MILHAR']), ['VLR_DEPRECIACAO_AMORTIZACAO']] * 1000
df_dva.head()

,CNPJ_CIA,DT_REFER,DENOM_CIA,ESCALA_MOEDA,ORDEM_EXERC,CD_CONTA,DS_CONTA,VLR_DEPRECIACAO_AMORTIZACAO
27,00.000.000/0001-91,2016-12-31,BCO BRASIL S.A.,MILHAR,ÚLTIMO,7.05.01,"Depreciação, Amortização e Exaustão",-4.288742e+09
103,00.000.208/0001-00,2016-12-31,BRB BCO DE BRASILIA S.A.,MILHAR,ÚLTIMO,7.05.01,"Depreciação, Amortização e Exaustão",-3.661900e+07
177,00.001.180/0001-26,2016-12-31,CENTRAIS ELET BRAS S.A. - ELETROBRAS,MILHAR,ÚLTIMO,7.04.01,"Depreciação, Amortização e Exaustão",-5.132000e+06
255,00.070.698/0001-11,2016-12-31,CIA ENERGETICA DE BRASILIA,MILHAR,ÚLTIMO,7.04.01,"Depreciação, Amortização e Exaustão",-1.670000e+05
333,00.115.890/0001-87,2016-12-31,SHOPPING CENTER TACARUNA SA,MILHAR,ÚLTIMO,7.04.01,"Depreciação, Amortização e Exaustão",0.000000e+00

In [64]:
#Junta os diferentes dataframes com informações do ITR
new_df = pd.merge(df_dre, df_bpp, how = 'left', left_on=['CNPJ_CIA','DT_REFER'], right_on=['CNPJ_CIA','DT_REFER'])
df_result_itr = pd.merge(new_df, df_dva, how = 'left', left_on=['CNPJ_CIA','DT_REFER'], right_on=['CNPJ_CIA','DT_REFER'])
#df_result = df_result[['CNPJ_CIA','DT_REFER','DT_INI_EXERC','DT_FIM_EXERC','DS_CONTA_x','VL_CONTA_x','DS_CONTA_y','VL_CONTA_y','DS_CONTA','VL_CONTA']]
df_result_itr = df_result_itr[['CNPJ_CIA','DT_REFER','DT_INI_EXERC_x','DT_FIM_EXERC_x','VLR_EBIT','VLR_LUCRO_LIQUIDO','VLR_PATRIMONIO_LIQUIDO','VLR_DEPRECIACAO_AMORTIZACAO']]
df_result_itr['VLR_EBITDA'] = df_result_itr['VLR_EBIT'] - df_result_itr['VLR_DEPRECIACAO_AMORTIZACAO']
df_result_itr.head()

,CNPJ_CIA,DT_REFER,DT_INI_EXERC_x,DT_FIM_EXERC_x,VLR_EBIT,VLR_LUCRO_LIQUIDO,VLR_PATRIMONIO_LIQUIDO,VLR_DEPRECIACAO_AMORTIZACAO,VLR_EBITDA
0,00.000.000/0001-91,2016-12-31,2016-01-01,2016-12-31,9.948650e+09,7.930114e+09,7.621817e+10,-4.288742e+09,1.423739e+10
1,00.000.208/0001-00,2016-12-31,2016-01-01,2016-12-31,2.489780e+08,2.005330e+08,1.174156e+09,-3.661900e+07,2.855970e+08
2,00.001.180/0001-26,2016-12-31,2016-01-01,2016-12-31,4.307927e+09,3.425899e+09,4.420347e+10,-5.132000e+06,4.313059e+09
3,00.070.698/0001-11,2016-12-31,2016-01-01,2016-12-31,8.066700e+07,1.146070e+08,6.203620e+08,-1.670000e+05,8.083400e+07
4,00.115.890/0001-87,2016-12-31,2016-01-01,2016-12-31,2.030000e+06,-5.860000e+05,-5.850000e+05,0.000000e+00,2.030000e+06

In [65]:
df_ticker = pd.read_csv(path+"APOIO/tickers.csv", sep = ';', encoding="utf-8", usecols = ['Tickers','CNPJ']) 
df_result_itr = pd.merge(df_result_itr, df_ticker, how = 'left', left_on='CNPJ_CIA', right_on='CNPJ')
df_result_itr = df_result_itr.assign(tickers = df_result_itr['Tickers'].str[:4])
sr = pd.Series(pd.to_datetime(df_result_itr["DT_REFER"]))
df_result_itr = df_result_itr.assign(trimestre = sr.dt.quarter)
df_result_itr = df_result_itr.assign(ano = sr.dt.year)

df_result_itr.head()

,CNPJ_CIA,DT_REFER,DT_INI_EXERC_x,DT_FIM_EXERC_x,VLR_EBIT,VLR_LUCRO_LIQUIDO,VLR_PATRIMONIO_LIQUIDO,VLR_DEPRECIACAO_AMORTIZACAO,VLR_EBITDA,Tickers,CNPJ,tickers,trimestre,ano
0,00.000.000/0001-91,2016-12-31,2016-01-01,2016-12-31,9.948650e+09,7.930114e+09,7.621817e+10,-4.288742e+09,1.423739e+10,"BBAS11, BBAS12, BBAS3",00.000.000/0001-91,BBAS,4,2016
1,00.000.208/0001-00,2016-12-31,2016-01-01,2016-12-31,2.489780e+08,2.005330e+08,1.174156e+09,-3.661900e+07,2.855970e+08,"BSLI3, BSLI4",00.000.208/0001-00,BSLI,4,2016
2,00.001.180/0001-26,2016-12-31,2016-01-01,2016-12-31,4.307927e+09,3.425899e+09,4.420347e+10,-5.132000e+06,4.313059e+09,"ELET3, ELET5, ELET6",00.001.180/0001-26,ELET,4,2016
3,00.070.698/0001-11,2016-12-31,2016-01-01,2016-12-31,8.066700e+07,1.146070e+08,6.203620e+08,-1.670000e+05,8.083400e+07,"CEBR3, CEBR5, CEBR6",00.070.698/0001-11,CEBR,4,2016
4,00.115.890/0001-87,2016-12-31,2016-01-01,2016-12-31,2.030000e+06,-5.860000e+05,-5.850000e+05,0.000000e+00,2.030000e+06,NaN,NaN,NaN,4,2016

In [66]:
a = df_result_itr[(df_result_itr["tickers"] == 'PETR') & (pd.to_datetime(df_result_itr["DT_REFER"]) >= pd.to_datetime('2018-08-01'))]
a.head(10)

,CNPJ_CIA,DT_REFER,DT_INI_EXERC_x,DT_FIM_EXERC_x,VLR_EBIT,VLR_LUCRO_LIQUIDO,VLR_PATRIMONIO_LIQUIDO,VLR_DEPRECIACAO_AMORTIZACAO,VLR_EBITDA,Tickers,CNPJ,tickers,trimestre,ano
1952,33.000.167/0001-01,2018-12-31,2018-01-01,2018-12-31,5.571500e+10,2.577900e+10,2.772250e+11,-3.332500e+10,8.904000e+10,"PETR3, PETR4",33.000.167/0001-01,PETR,4,2018
2534,33.000.167/0001-01,2019-12-31,2019-01-01,2019-12-31,8.454100e+10,4.013700e+10,2.955410e+11,-6.940500e+10,1.539460e+11,"PETR3, PETR4",33.000.167/0001-01,PETR,4,2019
15320,33.000.167/0001-01,2018-09-30,2018-01-01,2018-09-30,4.647800e+10,2.367700e+10,2.903650e+11,-2.495000e+10,7.142800e+10,"PETR3, PETR4",33.000.167/0001-01,PETR,3,2018
17458,33.000.167/0001-01,2019-03-31,2019-01-01,2019-03-31,1.378500e+10,4.031000e+09,2.826590e+11,-1.624500e+10,3.003000e+10,"PETR3, PETR4",33.000.167/0001-01,PETR,1,2019
17459,33.000.167/0001-01,2019-06-30,2019-01-01,2019-06-30,5.366600e+10,2.289700e+10,3.036190e+11,-3.322000e+10,8.688600e+10,"PETR3, PETR4",33.000.167/0001-01,PETR,2,2019
17460,33.000.167/0001-01,2019-09-30,2019-01-01,2019-09-30,6.920800e+10,3.198400e+10,3.062520e+11,-5.098500e+10,1.201930e+11,"PETR3, PETR4",33.000.167/0001-01,PETR,3,2019

In [67]:
df_cotacoes = pd.read_csv(path+"PREBASE/COTACOES_consolidado.csv", sep = ';',encoding="ISO-8859-1")

df_cotacoes = df_cotacoes.assign(cod_papel_ini = df_cotacoes['cod_papel'].str[:4])
df_cotacoes.sort_values(by=['cod_papel','data_pregao'], inplace=True)
df_cotacoes['preco_dia_anterior'] = df_cotacoes['preco_ultimo'].shift(periods=1)
x = 'a'
df_cdi = pd.read_csv(path+"APOIO/taxa_cdi.csv", sep = ';',encoding="ISO-8859-1")
df_cdi['ano_mes'] = pd.to_datetime(df_cdi['data']).dt.to_period('M') 
df_cotacoes['ano_mes'] = pd.to_datetime(df_cotacoes['data_pregao']).dt.to_period('M') 

df_cotacoes = pd.merge(df_cotacoes, df_cdi, how = 'left', left_on=['ano_mes'], right_on=['ano_mes'])
                                                                     
for index, row in df_cotacoes.iterrows():
    if row['cod_papel'] != x:
        df_cotacoes.at[index,'preco_dia_anterior'] = None        
    x = row['cod_papel']

    


df_cotacoes.head(50)

,data_pregao,cod_bdi,cod_papel,tp_merc,nome_resum,espec_papel,preco_ultimo,fator_cotacao,cod_papel_ini,preco_dia_anterior,ano_mes,data,cdi
0,2019-12-23 00:00:00,2,A1LX34,10,ALEXION PHAR,DRN,225.97,1,A1LX,NaN,2019-12,NaN,NaN
1,2019-12-27 00:00:00,2,A1LX34,10,ALEXION PHAR,DRN,220.70,1,A1LX,225.97,2019-12,NaN,NaN
2,2019-12-23 00:00:00,96,A1LX34F,20,ALEXION PHAR,DRN,225.97,1,A1LX,NaN,2019-12,NaN,NaN
3,2016-08-01 00:00:00,2,AALC34,10,ALCOA,DRN,34.57,1,AALC,NaN,2016-08,NaN,NaN
4,2016-08-08 00:00:00,2,AALC34,10,ALCOA,DRN ED,32.93,1,AALC,34.57,2016-08,NaN,NaN
5,2016-08-09 00:00:00,2,AALC34,10,ALCOA,DRN ED,32.86,1,AALC,32.93,2016-08,NaN,NaN
6,2016-08-11 00:00:00,2,AALC34,10,ALCOA,DRN ED,32.32,1,AALC,32.86,2016-08,NaN,NaN
7,2016-08-15 00:00:00,2,AALC34,10,ALCOA,DRN,33.24,1,AALC,32.32,2016-08,NaN,NaN
8,2016-08-19 00:00:00,2,AALC34,10,ALCOA,DRN,32.89,1,AALC,33.24,2016-08,NaN,NaN
9,2016-08-22 00:00:00,2,AALC34,10,ALCOA,DRN,32.90,1,AALC,32.89,2016-08,NaN,NaN
10,2016-08-29 00:00:00,2,AALC34,10,ALCOA,DRN,32.99,1,AALC,32.90,2016-08,NaN,NaN
11,2016-08-30 00:00:00,2,AALC34,10,ALCOA,DRN,32.81,1,AALC,32.99,2016-08,NaN,NaN
12,2016-09-06 00:00:00,2,AALC34,10,ALCOA,DRN,32.83,1,AALC,32.81,2016-09,NaN,NaN
13,2016-09-12 00:00:00,2,AALC34,10,ALCOA,DRN,31.85,1,AALC,32.83,2016-09,NaN,NaN
14,2016-09-15 00:00:00,2,AALC34,10,ALCOA,DRN,31.14,1,AALC,31.85,2016-09,NaN,NaN
15,2016-09-19 00:00:00,2,AALC34,10,ALCOA,DRN,30.82,1,AALC,31.14,2016-09,NaN,NaN
16,2016-09-26 00:00:00,2,AALC34,10,ALCOA,DRN,31.35,1,AALC,30.82,2016-09,NaN,NaN
17,2016-09-28 00:00:00,2,AALC34,10,ALCOA,DRN,31.52,1,AALC,31.35,2016-09,NaN,NaN
18,2016-09-30 00:00:00,2,AALC34,10,ALCOA,DRN,32.88,1,AALC,31.52,2016-09,NaN,NaN
19,2016-10-03 00:00:00,2,AALC34,10,ALCOA,DRN,32.37,1,AALC,32.88,2016-10,NaN,NaN
20,2016-10-06 00:00:00,2,AALC34,10,ALCOA,DRN,34.07,1,AALC,32.37,2016-10,NaN,NaN
21,2016-10-10 00:00:00,2,AALC34,10,ALCOA,DRN EG,100.58,1,AALC,34.07,2016-10,NaN,NaN
22,2016-10-17 00:00:00,2,AALC34,10,ALCOA,DRN EG,84.25,1,AALC,100.58,2016-10,NaN,NaN
23,2016-10-24 00:00:00,2,AALC34,10,ALCOA,DRN,84.33,1,AALC,84.25,2016-10,NaN,NaN
24,2016-10-26 00:00:00,2,AALC34,10,ALCOA,DRN,87.23,1,AALC,84.33,2016-10,NaN,NaN
25,2016-10-27 00:00:00,2,AALC34,10,ALCOA,DRN,88.65,1,AALC,87.23,2016-10,NaN,NaN
26,2016-10-31 00:00:00,2,AALC34,10,ALCOA,DRN,91.60,1,AALC,88.65,2016-10,NaN,NaN
27,2016-11-07 00:00:00,2,AALC34,10,ALCOA,DRN EC,56.66,1,AALC,91.60,2016-11,NaN,NaN
28,2016-08-01 00:00:00,96,AALC34F,20,ALCOA,DRN,34.57,1,AALC,NaN,2016-08,NaN,NaN
29,2016-08-08 00:00:00,96,AALC34F,20,ALCOA,DRN ED,32.94,1,AALC,34.57,2016-08,NaN,NaN
30,2016-08-09 00:00:00,96,AALC34F,20,ALCOA,DRN ED,32.92,1,AALC,32.94,2016-08,NaN,NaN
31,2016-08-11 00:00:00,96,AALC34F,20,ALCOA,DRN ED,32.32,1,AALC,32.92,2016-08,NaN,NaN
32,2016-08-12 00:00:00,96,AALC34F,20,ALCOA,DRN ED,32.21,1,AALC,32.32,2016-08,NaN,NaN
33,2016-08-15 00:00:00,96,AALC34F,20,ALCOA,DRN,33.24,1,AALC,32.21,2016-08,NaN,NaN
34,2016-08-19 00:00:00,96,AALC34F,20,ALCOA,DRN,32.89,1,AALC,33.24,2016-08,NaN,NaN
35,2016-08-22 00:00:00,96,AALC34F,20,ALCOA,DRN,32.90,1,AALC,32.89,2016-08,NaN,NaN
36,2016-08-29 00:00:00,96,AALC34F,20,ALCOA,DRN,32.99,1,AALC,32.90,2016-08,NaN,NaN
37,2016-08-30 00:00:00,96,AALC34F,20,ALCOA,DRN,32.81,1,AALC,32.99,2016-08,NaN,NaN
38,2016-09-06 00:00:00,96,AALC34F,20,ALCOA,DRN,32.83,1,AALC,32.81,2016-09,NaN,NaN
39,2016-09-15 00:00:00,96,AALC34F,20,ALCOA,DRN,31.16,1,AALC,32.83,2016-09,NaN,NaN
40,2016-09-19 00:00:00,96,AALC34F,20,ALCOA,DRN,30.82,1,AALC,31.16,2016-09,NaN,NaN
41,2016-09-26 00:00:00,96,AALC34F,20,ALCOA,DRN,31.35,1,AALC,30.82,2016-09,NaN,NaN
42,2016-09-28 00:00:00,96,AALC34F,20,ALCOA,DRN,31.52,1,AALC,31.35,2016-09,NaN,NaN
43,2016-09-30 00:00:00,96,AALC34F,20,ALCOA,DRN,32.88,1,AALC,31.52,2016-09,NaN,NaN
44,2016-10-03 00:00:00,96,AALC34F,20,ALCOA,DRN,32.37,1,AALC,32.88,2016-10,NaN,NaN
45,2016-10-06 00:00:00,96,AALC34F,20,ALCOA,DRN,34.07,1,AALC,32.37,2016-10,NaN,NaN
46,2016-10-10 00:00:00,96,AALC34F,20,ALCOA,DRN EG,100.58,1,AALC,34.07,2016-10,NaN,NaN
47,2016-10-14 00:00:00,96,AALC34F,20,ALCOA,DRN EG,84.37,1,AALC,100.58,2016-10,NaN,NaN
48,2016-10-17 00:00:00,96,AALC34F,20,ALCOA,DRN EG,84.25,1,AALC,84.37,2016-10,NaN,NaN
49,2016-10-20 00:00:00,96,AALC34F,20,ALCOA,DRN,83.84,1,AALC,84.25,2016-10,NaN,NaN

In [78]:
df_cotacoes['retorno_diario_ativo'] = (df_cotacoes['preco_ultimo'] - df_cotacoes['preco_dia_anterior'])/df_cotacoes['preco_dia_anterior']*100


df_cotacoes['mean_retorno'] = df_cotacoes.groupby(['ano_mes','cod_papel'])['retorno_diario_ativo'].transform('mean')
df_cotacoes['std_retorno'] = df_cotacoes.groupby(['ano_mes','cod_papel'])['retorno_diario_ativo'].transform('std')
#df_cotacoes['sharpe_ratio'] = (df_cotacoes['mean_retorno']-pd.to_numeric(df_cotacoes['cdi']))/df_cotacoes['std_retorno']
#ver_depois


df_cotacoes.head(30)

,data_pregao,cod_bdi,cod_papel,tp_merc,nome_resum,espec_papel,preco_ultimo,fator_cotacao,cod_papel_ini,preco_dia_anterior,ano_mes,data,cdi,retorno_diario_ativo,mean_retorno,std_retorno,sharpe_ratio
0,2019-12-23 00:00:00,2,A1LX34,10,ALEXION PHAR,DRN,225.97,1,A1LX,NaN,2019-12,NaN,NaN,NaN,-2.332168,NaN,NaN
1,2019-12-27 00:00:00,2,A1LX34,10,ALEXION PHAR,DRN,220.70,1,A1LX,225.97,2019-12,NaN,NaN,-2.332168,-2.332168,NaN,NaN
2,2019-12-23 00:00:00,96,A1LX34F,20,ALEXION PHAR,DRN,225.97,1,A1LX,NaN,2019-12,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-08-01 00:00:00,2,AALC34,10,ALCOA,DRN,34.57,1,AALC,NaN,2016-08,NaN,NaN,NaN,-0.630997,2.126396,NaN
4,2016-08-08 00:00:00,2,AALC34,10,ALCOA,DRN ED,32.93,1,AALC,34.57,2016-08,NaN,NaN,-4.743998,-0.630997,2.126396,NaN
5,2016-08-09 00:00:00,2,AALC34,10,ALCOA,DRN ED,32.86,1,AALC,32.93,2016-08,NaN,NaN,-0.212572,-0.630997,2.126396,NaN
6,2016-08-11 00:00:00,2,AALC34,10,ALCOA,DRN ED,32.32,1,AALC,32.86,2016-08,NaN,NaN,-1.643335,-0.630997,2.126396,NaN
7,2016-08-15 00:00:00,2,AALC34,10,ALCOA,DRN,33.24,1,AALC,32.32,2016-08,NaN,NaN,2.846535,-0.630997,2.126396,NaN
8,2016-08-19 00:00:00,2,AALC34,10,ALCOA,DRN,32.89,1,AALC,33.24,2016-08,NaN,NaN,-1.052948,-0.630997,2.126396,NaN
9,2016-08-22 00:00:00,2,AALC34,10,ALCOA,DRN,32.90,1,AALC,32.89,2016-08,NaN,NaN,0.030404,-0.630997,2.126396,NaN
10,2016-08-29 00:00:00,2,AALC34,10,ALCOA,DRN,32.99,1,AALC,32.90,2016-08,NaN,NaN,0.273556,-0.630997,2.126396,NaN
11,2016-08-30 00:00:00,2,AALC34,10,ALCOA,DRN,32.81,1,AALC,32.99,2016-08,NaN,NaN,-0.545620,-0.630997,2.126396,NaN
12,2016-09-06 00:00:00,2,AALC34,10,ALCOA,DRN,32.83,1,AALC,32.81,2016-09,NaN,NaN,0.060957,0.056531,2.476067,NaN
13,2016-09-12 00:00:00,2,AALC34,10,ALCOA,DRN,31.85,1,AALC,32.83,2016-09,NaN,NaN,-2.985075,0.056531,2.476067,NaN
14,2016-09-15 00:00:00,2,AALC34,10,ALCOA,DRN,31.14,1,AALC,31.85,2016-09,NaN,NaN,-2.229199,0.056531,2.476067,NaN
15,2016-09-19 00:00:00,2,AALC34,10,ALCOA,DRN,30.82,1,AALC,31.14,2016-09,NaN,NaN,-1.027617,0.056531,2.476067,NaN
16,2016-09-26 00:00:00,2,AALC34,10,ALCOA,DRN,31.35,1,AALC,30.82,2016-09,NaN,NaN,1.719663,0.056531,2.476067,NaN
17,2016-09-28 00:00:00,2,AALC34,10,ALCOA,DRN,31.52,1,AALC,31.35,2016-09,NaN,NaN,0.542265,0.056531,2.476067,NaN
18,2016-09-30 00:00:00,2,AALC34,10,ALCOA,DRN,32.88,1,AALC,31.52,2016-09,NaN,NaN,4.314721,0.056531,2.476067,NaN
19,2016-10-03 00:00:00,2,AALC34,10,ALCOA,DRN,32.37,1,AALC,32.88,2016-10,NaN,NaN,-1.551095,23.896248,69.549658,NaN
20,2016-10-06 00:00:00,2,AALC34,10,ALCOA,DRN,34.07,1,AALC,32.37,2016-10,NaN,NaN,5.251776,23.896248,69.549658,NaN
21,2016-10-10 00:00:00,2,AALC34,10,ALCOA,DRN EG,100.58,1,AALC,34.07,2016-10,NaN,NaN,195.215732,23.896248,69.549658,NaN
22,2016-10-17 00:00:00,2,AALC34,10,ALCOA,DRN EG,84.25,1,AALC,100.58,2016-10,NaN,NaN,-16.235832,23.896248,69.549658,NaN
23,2016-10-24 00:00:00,2,AALC34,10,ALCOA,DRN,84.33,1,AALC,84.25,2016-10,NaN,NaN,0.094955,23.896248,69.549658,NaN
24,2016-10-26 00:00:00,2,AALC34,10,ALCOA,DRN,87.23,1,AALC,84.33,2016-10,NaN,NaN,3.438871,23.896248,69.549658,NaN
25,2016-10-27 00:00:00,2,AALC34,10,ALCOA,DRN,88.65,1,AALC,87.23,2016-10,NaN,NaN,1.627880,23.896248,69.549658,NaN
26,2016-10-31 00:00:00,2,AALC34,10,ALCOA,DRN,91.60,1,AALC,88.65,2016-10,NaN,NaN,3.327693,23.896248,69.549658,NaN
27,2016-11-07 00:00:00,2,AALC34,10,ALCOA,DRN EC,56.66,1,AALC,91.60,2016-11,NaN,NaN,-38.144105,-38.144105,NaN,NaN
28,2016-08-01 00:00:00,96,AALC34F,20,ALCOA,DRN,34.57,1,AALC,NaN,2016-08,NaN,NaN,NaN,-0.559509,2.078572,NaN
29,2016-08-08 00:00:00,96,AALC34F,20,ALCOA,DRN ED,32.94,1,AALC,34.57,2016-08,NaN,NaN,-4.715071,-0.559509,2.078572,NaN

In [79]:
df_capital_social = pd.read_excel(path+"APOIO/capital_social.xlsx", sheet_name="acoes")
#df_capital_social = df_capital_social.reindex(df.index.drop(0)).reset_index(drop=True)
df_capital_social = df_capital_social[['Código','Qtde total de ações']]

df_capital_social.head()

  Código  Qtde total de ações
0    NaN                  NaN
1   QVQP          228361901.0
2   ABCB          218359057.0
3   CAEP                  1.0
4   EALT           22500000.0

In [80]:
df1 = pd.merge(df_cotacoes, df_capital_social, how = 'left', left_on='cod_papel_ini', right_on='Código')
df1.head(30)

,data_pregao,cod_bdi,cod_papel,tp_merc,nome_resum,espec_papel,preco_ultimo,fator_cotacao,cod_papel_ini,preco_dia_anterior,ano_mes,data,cdi,retorno_diario_ativo,mean_retorno,std_retorno,sharpe_ratio,Código,Qtde total de ações
0,2019-12-23 00:00:00,2,A1LX34,10,ALEXION PHAR,DRN,225.97,1,A1LX,NaN,2019-12,NaN,NaN,NaN,-2.332168,NaN,NaN,NaN,NaN
1,2019-12-27 00:00:00,2,A1LX34,10,ALEXION PHAR,DRN,220.70,1,A1LX,225.97,2019-12,NaN,NaN,-2.332168,-2.332168,NaN,NaN,NaN,NaN
2,2019-12-23 00:00:00,96,A1LX34F,20,ALEXION PHAR,DRN,225.97,1,A1LX,NaN,2019-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-08-01 00:00:00,2,AALC34,10,ALCOA,DRN,34.57,1,AALC,NaN,2016-08,NaN,NaN,NaN,-0.630997,2.126396,NaN,NaN,NaN
4,2016-08-08 00:00:00,2,AALC34,10,ALCOA,DRN ED,32.93,1,AALC,34.57,2016-08,NaN,NaN,-4.743998,-0.630997,2.126396,NaN,NaN,NaN
5,2016-08-09 00:00:00,2,AALC34,10,ALCOA,DRN ED,32.86,1,AALC,32.93,2016-08,NaN,NaN,-0.212572,-0.630997,2.126396,NaN,NaN,NaN
6,2016-08-11 00:00:00,2,AALC34,10,ALCOA,DRN ED,32.32,1,AALC,32.86,2016-08,NaN,NaN,-1.643335,-0.630997,2.126396,NaN,NaN,NaN
7,2016-08-15 00:00:00,2,AALC34,10,ALCOA,DRN,33.24,1,AALC,32.32,2016-08,NaN,NaN,2.846535,-0.630997,2.126396,NaN,NaN,NaN
8,2016-08-19 00:00:00,2,AALC34,10,ALCOA,DRN,32.89,1,AALC,33.24,2016-08,NaN,NaN,-1.052948,-0.630997,2.126396,NaN,NaN,NaN
9,2016-08-22 00:00:00,2,AALC34,10,ALCOA,DRN,32.90,1,AALC,32.89,2016-08,NaN,NaN,0.030404,-0.630997,2.126396,NaN,NaN,NaN
10,2016-08-29 00:00:00,2,AALC34,10,ALCOA,DRN,32.99,1,AALC,32.90,2016-08,NaN,NaN,0.273556,-0.630997,2.126396,NaN,NaN,NaN
11,2016-08-30 00:00:00,2,AALC34,10,ALCOA,DRN,32.81,1,AALC,32.99,2016-08,NaN,NaN,-0.545620,-0.630997,2.126396,NaN,NaN,NaN
12,2016-09-06 00:00:00,2,AALC34,10,ALCOA,DRN,32.83,1,AALC,32.81,2016-09,NaN,NaN,0.060957,0.056531,2.476067,NaN,NaN,NaN
13,2016-09-12 00:00:00,2,AALC34,10,ALCOA,DRN,31.85,1,AALC,32.83,2016-09,NaN,NaN,-2.985075,0.056531,2.476067,NaN,NaN,NaN
14,2016-09-15 00:00:00,2,AALC34,10,ALCOA,DRN,31.14,1,AALC,31.85,2016-09,NaN,NaN,-2.229199,0.056531,2.476067,NaN,NaN,NaN
15,2016-09-19 00:00:00,2,AALC34,10,ALCOA,DRN,30.82,1,AALC,31.14,2016-09,NaN,NaN,-1.027617,0.056531,2.476067,NaN,NaN,NaN
16,2016-09-26 00:00:00,2,AALC34,10,ALCOA,DRN,31.35,1,AALC,30.82,2016-09,NaN,NaN,1.719663,0.056531,2.476067,NaN,NaN,NaN
17,2016-09-28 00:00:00,2,AALC34,10,ALCOA,DRN,31.52,1,AALC,31.35,2016-09,NaN,NaN,0.542265,0.056531,2.476067,NaN,NaN,NaN
18,2016-09-30 00:00:00,2,AALC34,10,ALCOA,DRN,32.88,1,AALC,31.52,2016-09,NaN,NaN,4.314721,0.056531,2.476067,NaN,NaN,NaN
19,2016-10-03 00:00:00,2,AALC34,10,ALCOA,DRN,32.37,1,AALC,32.88,2016-10,NaN,NaN,-1.551095,23.896248,69.549658,NaN,NaN,NaN
20,2016-10-06 00:00:00,2,AALC34,10,ALCOA,DRN,34.07,1,AALC,32.37,2016-10,NaN,NaN,5.251776,23.896248,69.549658,NaN,NaN,NaN
21,2016-10-10 00:00:00,2,AALC34,10,ALCOA,DRN EG,100.58,1,AALC,34.07,2016-10,NaN,NaN,195.215732,23.896248,69.549658,NaN,NaN,NaN
22,2016-10-17 00:00:00,2,AALC34,10,ALCOA,DRN EG,84.25,1,AALC,100.58,2016-10,NaN,NaN,-16.235832,23.896248,69.549658,NaN,NaN,NaN
23,2016-10-24 00:00:00,2,AALC34,10,ALCOA,DRN,84.33,1,AALC,84.25,2016-10,NaN,NaN,0.094955,23.896248,69.549658,NaN,NaN,NaN
24,2016-10-26 00:00:00,2,AALC34,10,ALCOA,DRN,87.23,1,AALC,84.33,2016-10,NaN,NaN,3.438871,23.896248,69.549658,NaN,NaN,NaN
25,2016-10-27 00:00:00,2,AALC34,10,ALCOA,DRN,88.65,1,AALC,87.23,2016-10,NaN,NaN,1.627880,23.896248,69.549658,NaN,NaN,NaN
26,2016-10-31 00:00:00,2,AALC34,10,ALCOA,DRN,91.60,1,AALC,88.65,2016-10,NaN,NaN,3.327693,23.896248,69.549658,NaN,NaN,NaN
27,2016-11-07 00:00:00,2,AALC34,10,ALCOA,DRN EC,56.66,1,AALC,91.60,2016-11,NaN,NaN,-38.144105,-38.144105,NaN,NaN,NaN,NaN
28,2016-08-01 00:00:00,96,AALC34F,20,ALCOA,DRN,34.57,1,AALC,NaN,2016-08,NaN,NaN,NaN,-0.559509,2.078572,NaN,NaN,NaN
29,2016-08-08 00:00:00,96,AALC34F,20,ALCOA,DRN ED,32.94,1,AALC,34.57,2016-08,NaN,NaN,-4.715071,-0.559509,2.078572,NaN,NaN,NaN

In [81]:
sr = pd.Series(pd.to_datetime(df1["data_pregao"]))
df1 = df1.assign(trimestre = sr.dt.quarter)
df1 = df1.assign(ano = sr.dt.year)
new_df = pd.merge(df1, df_result_itr, how = 'left', left_on=['cod_papel_ini','ano','trimestre'], right_on=['tickers','ano','trimestre'])
new_df.head(30)

,data_pregao,cod_bdi,cod_papel,tp_merc,nome_resum,espec_papel,preco_ultimo,fator_cotacao,cod_papel_ini,preco_dia_anterior,...,DT_INI_EXERC_x,DT_FIM_EXERC_x,VLR_EBIT,VLR_LUCRO_LIQUIDO,VLR_PATRIMONIO_LIQUIDO,VLR_DEPRECIACAO_AMORTIZACAO,VLR_EBITDA,Tickers,CNPJ,tickers
0,2019-12-23 00:00:00,2,A1LX34,10,ALEXION PHAR,DRN,225.97,1,A1LX,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-12-27 00:00:00,2,A1LX34,10,ALEXION PHAR,DRN,220.70,1,A1LX,225.97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-12-23 00:00:00,96,A1LX34F,20,ALEXION PHAR,DRN,225.97,1,A1LX,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-08-01 00:00:00,2,AALC34,10,ALCOA,DRN,34.57,1,AALC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-08-08 00:00:00,2,AALC34,10,ALCOA,DRN ED,32.93,1,AALC,34.57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2016-08-09 00:00:00,2,AALC34,10,ALCOA,DRN ED,32.86,1,AALC,32.93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2016-08-11 00:00:00,2,AALC34,10,ALCOA,DRN ED,32.32,1,AALC,32.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2016-08-15 00:00:00,2,AALC34,10,ALCOA,DRN,33.24,1,AALC,32.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2016-08-19 00:00:00,2,AALC34,10,ALCOA,DRN,32.89,1,AALC,33.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2016-08-22 00:00:00,2,AALC34,10,ALCOA,DRN,32.90,1,AALC,32.89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2016-08-29 00:00:00,2,AALC34,10,ALCOA,DRN,32.99,1,AALC,32.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2016-08-30 00:00:00,2,AALC34,10,ALCOA,DRN,32.81,1,AALC,32.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2016-09-06 00:00:00,2,AALC34,10,ALCOA,DRN,32.83,1,AALC,32.81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2016-09-12 00:00:00,2,AALC34,10,ALCOA,DRN,31.85,1,AALC,32.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2016-09-15 00:00:00,2,AALC34,10,ALCOA,DRN,31.14,1,AALC,31.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2016-09-19 00:00:00,2,AALC34,10,ALCOA,DRN,30.82,1,AALC,31.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2016-09-26 00:00:00,2,AALC34,10,ALCOA,DRN,31.35,1,AALC,30.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2016-09-28 00:00:00,2,AALC34,10,ALCOA,DRN,31.52,1,AALC,31.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2016-09-30 00:00:00,2,AALC34,10,ALCOA,DRN,32.88,1,AALC,31.52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2016-10-03 00:00:00,2,AALC34,10,ALCOA,DRN,32.37,1,AALC,32.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2016-10-06 00:00:00,2,AALC34,10,ALCOA,DRN,34.07,1,AALC,32.37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2016-10-10 00:00:00,2,AALC34,10,ALCOA,DRN EG,100.58,1,AALC,34.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2016-10-17 00:00:00,2,AALC34,10,ALCOA,DRN EG,84.25,1,AALC,100.58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2016-10-24 00:00:00,2,AALC34,10,ALCOA,DRN,84.33,1,AALC,84.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2016-10-26 00:00:00,2,AALC34,10,ALCOA,DRN,87.23,1,AALC,84.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2016-10-27 00:00:00,2,AALC34,10,ALCOA,DRN,88.65,1,AALC,87.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2016-10-31 00:00:00,2,AALC34,10,ALCOA,DRN,91.60,1,AALC,88.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2016-11-07 00:00:00,2,AALC34,10,ALCOA,DRN EC,56.66,1,AALC,91.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2016-08-01 00:00:00,96,AALC34F,20,ALCOA,DRN,34.57,1,AALC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2016-08-08 00:00:00,96,AALC34F,20,ALCOA,DRN ED,32.94,1,AALC,34.57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
df_setorial = pd.read_csv(path+"APOIO/setorial_B3.csv", usecols = ['SETOR_ECONOMICO','SUBSETOR','SEGMENTO_SETOR','CODIGO'], sep=';')
new_df = pd.merge(new_df, df_setorial, how = 'left', left_on='cod_papel_ini', right_on='CODIGO')
new_df.head(30)

,data_pregao,cod_bdi,cod_papel,tp_merc,nome_resum,espec_papel,preco_ultimo,fator_cotacao,cod_papel_ini,preco_dia_anterior,...,VLR_PATRIMONIO_LIQUIDO,VLR_DEPRECIACAO_AMORTIZACAO,VLR_EBITDA,Tickers,CNPJ,tickers,SETOR_ECONOMICO,SUBSETOR,SEGMENTO_SETOR,CODIGO
0,2019-12-23 00:00:00,2,A1LX34,10,ALEXION PHAR,DRN,225.97,1,A1LX,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-12-27 00:00:00,2,A1LX34,10,ALEXION PHAR,DRN,220.70,1,A1LX,225.97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-12-23 00:00:00,96,A1LX34F,20,ALEXION PHAR,DRN,225.97,1,A1LX,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-08-01 00:00:00,2,AALC34,10,ALCOA,DRN,34.57,1,AALC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-08-08 00:00:00,2,AALC34,10,ALCOA,DRN ED,32.93,1,AALC,34.57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2016-08-09 00:00:00,2,AALC34,10,ALCOA,DRN ED,32.86,1,AALC,32.93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2016-08-11 00:00:00,2,AALC34,10,ALCOA,DRN ED,32.32,1,AALC,32.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2016-08-15 00:00:00,2,AALC34,10,ALCOA,DRN,33.24,1,AALC,32.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2016-08-19 00:00:00,2,AALC34,10,ALCOA,DRN,32.89,1,AALC,33.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2016-08-22 00:00:00,2,AALC34,10,ALCOA,DRN,32.90,1,AALC,32.89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2016-08-29 00:00:00,2,AALC34,10,ALCOA,DRN,32.99,1,AALC,32.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2016-08-30 00:00:00,2,AALC34,10,ALCOA,DRN,32.81,1,AALC,32.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2016-09-06 00:00:00,2,AALC34,10,ALCOA,DRN,32.83,1,AALC,32.81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2016-09-12 00:00:00,2,AALC34,10,ALCOA,DRN,31.85,1,AALC,32.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2016-09-15 00:00:00,2,AALC34,10,ALCOA,DRN,31.14,1,AALC,31.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2016-09-19 00:00:00,2,AALC34,10,ALCOA,DRN,30.82,1,AALC,31.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2016-09-26 00:00:00,2,AALC34,10,ALCOA,DRN,31.35,1,AALC,30.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2016-09-28 00:00:00,2,AALC34,10,ALCOA,DRN,31.52,1,AALC,31.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2016-09-30 00:00:00,2,AALC34,10,ALCOA,DRN,32.88,1,AALC,31.52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2016-10-03 00:00:00,2,AALC34,10,ALCOA,DRN,32.37,1,AALC,32.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2016-10-06 00:00:00,2,AALC34,10,ALCOA,DRN,34.07,1,AALC,32.37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2016-10-10 00:00:00,2,AALC34,10,ALCOA,DRN EG,100.58,1,AALC,34.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2016-10-17 00:00:00,2,AALC34,10,ALCOA,DRN EG,84.25,1,AALC,100.58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2016-10-24 00:00:00,2,AALC34,10,ALCOA,DRN,84.33,1,AALC,84.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2016-10-26 00:00:00,2,AALC34,10,ALCOA,DRN,87.23,1,AALC,84.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2016-10-27 00:00:00,2,AALC34,10,ALCOA,DRN,88.65,1,AALC,87.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2016-10-31 00:00:00,2,AALC34,10,ALCOA,DRN,91.60,1,AALC,88.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2016-11-07 00:00:00,2,AALC34,10,ALCOA,DRN EC,56.66,1,AALC,91.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2016-08-01 00:00:00,96,AALC34F,20,ALCOA,DRN,34.57,1,AALC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2016-08-08 00:00:00,96,AALC34F,20,ALCOA,DRN ED,32.94,1,AALC,34.57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
new_df['GAF'] = new_df['VLR_EBITDA']/new_df['VLR_EBIT']
new_df['ROE'] = new_df['VLR_LUCRO_LIQUIDO'] / new_df['VLR_PATRIMONIO_LIQUIDO']
new_df['LPA'] = new_df['VLR_LUCRO_LIQUIDO'] / new_df['Qtde total de ações']
new_df['VPA'] = new_df['VLR_PATRIMONIO_LIQUIDO'] / new_df['Qtde total de ações']
new_df['PL'] = new_df['preco_ultimo']/new_df['LPA'] 

new_df = new_df[['data_pregao','cod_papel','nome_resum','SETOR_ECONOMICO','SUBSETOR','SEGMENTO_SETOR','preco_ultimo','VLR_EBIT','VLR_EBITDA','VLR_LUCRO_LIQUIDO','VLR_PATRIMONIO_LIQUIDO','VLR_DEPRECIACAO_AMORTIZACAO','GAF','ROE','LPA','VPA','PL']]
# adicionar 'sharpe_ratio' acima

In [84]:
new_df.head(50)

,data_pregao,cod_papel,nome_resum,SETOR_ECONOMICO,SUBSETOR,SEGMENTO_SETOR,preco_ultimo,VLR_EBIT,VLR_EBITDA,VLR_LUCRO_LIQUIDO,VLR_PATRIMONIO_LIQUIDO,VLR_DEPRECIACAO_AMORTIZACAO,GAF,ROE,LPA,VPA,PL
0,2019-12-23 00:00:00,A1LX34,ALEXION PHAR,NaN,NaN,NaN,225.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-12-27 00:00:00,A1LX34,ALEXION PHAR,NaN,NaN,NaN,220.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-12-23 00:00:00,A1LX34F,ALEXION PHAR,NaN,NaN,NaN,225.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-08-01 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,34.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-08-08 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,32.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2016-08-09 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,32.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2016-08-11 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,32.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2016-08-15 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,33.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2016-08-19 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,32.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2016-08-22 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,32.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2016-08-29 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,32.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2016-08-30 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,32.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2016-09-06 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,32.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2016-09-12 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,31.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2016-09-15 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,31.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2016-09-19 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,30.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2016-09-26 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,31.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2016-09-28 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,31.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2016-09-30 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,32.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2016-10-03 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,32.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2016-10-06 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,34.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2016-10-10 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,100.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2016-10-17 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,84.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2016-10-24 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,84.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2016-10-26 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,87.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2016-10-27 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,88.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2016-10-31 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,91.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2016-11-07 00:00:00,AALC34,ALCOA,NaN,NaN,NaN,56.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2016-08-01 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,34.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2016-08-08 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,32.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2016-08-09 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,32.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2016-08-11 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,32.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2016-08-12 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,32.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2016-08-15 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,33.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2016-08-19 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,32.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2016-08-22 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,32.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2016-08-29 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,32.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2016-08-30 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,32.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2016-09-06 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,32.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2016-09-15 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,31.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,2016-09-19 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,30.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2016-09-26 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,31.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,2016-09-28 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,31.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2016-09-30 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,32.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2016-10-03 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,32.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,2016-10-06 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,34.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,2016-10-10 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,100.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2016-10-14 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,84.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,2016-10-17 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,84.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,2016-10-20 00:00:00,AALC34F,ALCOA,NaN,NaN,NaN,83.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
new_df.to_csv(path+'RESULTSET/dataset_unificado.csv',encoding="ISO-8859-1",sep=";", index = False)

In [86]:
a = new_df[(new_df["cod_papel"] == 'PETR3') & (pd.to_datetime(new_df["data_pregao"]) >= pd.to_datetime('2016-01-01'))]

In [88]:
a.head(20)

,data_pregao,cod_papel,nome_resum,SETOR_ECONOMICO,SUBSETOR,SEGMENTO_SETOR,preco_ultimo,VLR_EBIT,VLR_EBITDA,VLR_LUCRO_LIQUIDO,VLR_PATRIMONIO_LIQUIDO,VLR_DEPRECIACAO_AMORTIZACAO,GAF,ROE,LPA,VPA,PL
1202521,2016-01-04 00:00:00,PETR3,PETROBRAS,Petróleo Gás e Biocombustíveis,Petróleo Gás e Biocombustíveis,Exploração Refino e Distribuição,8.67,5.073000e+09,1.461200e+10,-1.246000e+09,2.626660e+11,-9.539000e+09,2.880347,-0.004744,-0.095519,20.136154,-90.767085
1202522,2016-01-04 00:00:00,PETR3,PETROBRAS,Petróleo Gás e Biocombustíveis,Petróleo Gás e Biocombustíveis,Exploração Refino e Distribuição,8.67,5.073000e+09,1.461200e+10,-1.246000e+09,2.626660e+11,-9.539000e+09,2.880347,-0.004744,-0.095519,20.136154,-90.767085
1202523,2016-01-04 00:00:00,PETR3,PETROBRAS,Petróleo Gás e Biocombustíveis,Petróleo Gás e Biocombustíveis,Exploração Refino e Distribuição,8.67,5.073000e+09,1.461200e+10,-1.246000e+09,2.626660e+11,-9.539000e+09,2.880347,-0.004744,-0.095519,20.136154,-90.767085
1202524,2016-01-04 00:00:00,PETR3,PETROBRAS,Petróleo Gás e Biocombustíveis,Petróleo Gás e Biocombustíveis,Exploração Refino e Distribuição,8.67,5.073000e+09,1.461200e+10,-1.246000e+09,2.626660e+11,-9.539000e+09,2.880347,-0.004744,-0.095519,20.136154,-90.767085
1202525,2016-01-04 00:00:00,PETR3,PETROBRAS,Petróleo Gás e Biocombustíveis,Petróleo Gás e Biocombustíveis,Exploração Refino e Distribuição,8.67,5.073000e+09,1.461200e+10,-1.246000e+09,2.626660e+11,-9.539000e+09,2.880347,-0.004744,-0.095519,20.136154,-90.767085
1202526,2016-01-04 00:00:00,PETR3,PETROBRAS,Petróleo Gás e Biocombustíveis,Petróleo Gás e Biocombustíveis,Exploração Refino e Distribuição,8.67,5.073000e+09,1.461200e+10,-1.246000e+09,2.626660e+11,-9.539000e+09,2.880347,-0.004744,-0.095519,20.136154,-90.767085
1202527,2016-01-04 00:00:00,PETR3,PETROBRAS,Petróleo Gás e Biocombustíveis,Petróleo Gás e Biocombustíveis,Exploração Refino e Distribuição,8.67,5.073000e+09,1.461200e+10,-1.246000e+09,2.626660e+11,-9.539000e+09,2.880347,-0.004744,-0.095519,20.136154,-90.767085
1202528,2016-01-04 00:00:00,PETR3,PETROBRAS,Petróleo Gás e Biocombustíveis,Petróleo Gás e Biocombustíveis,Exploração Refino e Distribuição,8.67,5.073000e+09,1.461200e+10,-1.246000e+09,2.626660e+11,-9.539000e+09,2.880347,-0.004744,-0.095519,20.136154,-90.767085
1202529,2016-01-04 00:00:00,PETR3,PETROBRAS,Petróleo Gás e Biocombustíveis,Petróleo Gás e Biocombustíveis,Exploração Refino e Distribuição,8.67,5.073000e+09,1.461200e+10,-1.246000e+09,2.626660e+11,-9.539000e+09,2.880347,-0.004744,-0.095519,20.136154,-90.767085
1202530,2016-01-04 00:00:00,PETR3,PETROBRAS,Petróleo Gás e Biocombustíveis,Petróleo Gás e Biocombustíveis,Exploração Refino e Distribuição,8.67,5.073000e+09,1.461200e+10,-1.246000e+09,2.626660e+11,-9.539000e+09,2.880347,-0.004744,-0.095519,20.136154,-90.767085
1202531,2016-01-04 00:00:00,PETR3,PETROBRAS,Petróleo Gás e Biocombustíveis,Petróleo Gás e Biocombustíveis,Exploração Refino e Distribuição,8.67,5.073000e+09,1.461200e+10,-1.246000e+09,2.626660e+11,-9.539000e+09,2.880347,-0.004744,-0.095519,20.136154,-90.767085
1202532,2016-01-04 00:00:00,PETR3,PETROBRAS,Petróleo Gás e Biocombustíveis,Petróleo Gás e Biocombustíveis,Exploração Refino e Distribuição,8.67,5.073000e+09,1.461200e+10,-1.246000e+09,2.626660e+11,-9.539000e+09,2.880347,-0.004744,-0.095519,20.136154,-90.767085
1202533,2016-01-05 00:00:00,PETR3,PETROBRAS,Petróleo Gás e Biocombustíveis,Petróleo Gás e Biocombustíveis,Exploração Refino e Distribuição,8.45,5.073000e+09,1.461200e+10,-1.246000e+09,2.626660e+11,-9.539000e+09,2.880347,-0.004744,-0.095519,20.136154,-88.463884
1202534,2016-01-05 00:00:00,PETR3,PETROBRAS,Petróleo Gás e Biocombustíveis,Petróleo Gás e Biocombustíveis,Exploração Refino e Distribuição,8.45,5.073000e+09,1.461200e+10,-1.246000e+09,2.626660e+11,-9.539000e+09,2.880347,-0.004744,-0.095519,20.136154,-88.463884
1202535,2016-01-05 00:00:00,PETR3,PETROBRAS,Petróleo Gás e Biocombustíveis,Petróleo Gás e Biocombustíveis,Exploração Refino e Distribuição,8.45,5.073000e+09,1.461200e+10,-1.246000e+09,2.626660e+11,-9.539000e+09,2.880347,-0.004744,-0.095519,20.136154,-88.463884
1202536,2016-01-05 00:00:00,PETR3,PETROBRAS,Petróleo Gás e Biocombustíveis,Petróleo Gás e Biocombustíveis,Exploração Refino e Distribuição,8.45,5.073000e+09,1.461200e+10,-1.246000e+09,2.626660e+11,-9.539000e+09,2.880347,-0.004744,-0.095519,20.136154,-88.463884
1202537,2016-01-05 00:00:00,PETR3,PETROBRAS,Petróleo Gás e Biocombustíveis,Petróleo Gás e Biocombustíveis,Exploração Refino e Distribuição,8.45,5.073000e+09,1.461200e+10,-1.246000e+09,2.626660e+11,-9.539000e+09,2.880347,-0.004744,-0.095519,20.136154,-88.463884
1202538,2016-01-05 00:00:00,PETR3,PETROBRAS,Petróleo Gás e Biocombustíveis,Petróleo Gás e Biocombustíveis,Exploração Refino e Distribuição,8.45,5.073000e+09,1.461200e+10,-1.246000e+09,2.626660e+11,-9.539000e+09,2.880347,-0.004744,-0.095519,20.136154,-88.463884
1202539,2016-01-05 00:00:00,PETR3,PETROBRAS,Petróleo Gás e Biocombustíveis,Petróleo Gás e Biocombustíveis,Exploração Refino e Distribuição,8.45,5.073000e+09,1.461200e+10,-1.246000e+09,2.626660e+11,-9.539000e+09,2.880347,-0.004744,-0.095519,20.136154,-88.463884
1202540,2016-01-05 00:00:00,PETR3,PETROBRAS,Petróleo Gás e Biocombustíveis,Petróleo Gás e Biocombustíveis,Exploração Refino e Distribuição,8.45,5.073000e+09,1.461200e+10,-1.246000e+09,2.626660e+11,-9.539000e+09,2.880347,-0.004744,-0.095519,20.136154,-88.463884